$text: #546e7a;
$textfooter: #b7c3c8;
$red:#e74c3c;
$green:#8bc34a;
$darkblue:#263238;
$lightgrey:#f4f6f5;
@mixin f500 {
    font-family: 'Robto', sans-serif;
    font-weight: 500;
}

@mixin f700 {
    font-family: 'Robto', sans-serif;
    font-weight: 700;
}